<h1 class="h5">{{ 'HOME.pageTitle' | translate }}</h1>

<h2 class="h6">{{ 'HOME.byLine' | translate }} Aesop</h2>

<div class="text-center">
    <img src="assets/filberts.jpg" alt="{{ 'HOME.image.alt' | translate }}" title="{{ 'HOME.image.alt' | translate }}"
        style="width:250px; height:auto;">
</div>
<div [innerHTML]="'HOME.featuredStory' | translate"></div>

<ul>
    <li>
        <a href="https://github.com/ngx-translate/core" target="_blank" rel="noopener noreferrer">See ngx-translate
            core</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=jCvsy4XSOEQ" target="_blank" rel="noopener noreferrer">Angular
            Internationalization / i18n - Using ngx-translate & Phrase</a>
    </li>
</ul>
<!-- TODO add rtl language -->
<!-- TODO add currency -->